* {
  font-family: 'Readex Pro', sans-serif;
  margin: 0px;
  padding: 0rem;
  text-decoration: none;
}

body {
  background-color: #0e141f;
  color: white;
}
header {
  padding: 2.5rem;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hlist {
  display: flex;
  list-style: none;
  gap: 8rem;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.hlist a {
  color: white;
}

footer {
  margin-top: auto;
  height: 8rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
label {
  width: 20rem;
  height: 30px;
}

input {
  margin-bottom: 1.5rem;
}

button {
  width: 6rem;
  height: 2rem;
  margin: 1.5rem auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer a {
  color: white;
}

.box input {
  margin-bottom: 0;
}
