* {
  font-family: 'Readex Pro', sans-serif;
  margin: 0px;
  padding: 0rem;
  text-decoration: none;
}

body {
  background-color: #0e141f;
  color: white;
}

header {
  padding: 2.5rem;
  font-size: 30px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hlist {
  display: flex;
  list-style: none;
  gap: 8rem;
  align-items: center;
  justify-content: flex-end;
}

.who {
  background: #e31d65;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.why {
  background: #ff7c35;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  grid-column: 1/2;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.benefits {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #25a954;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.howitwork {
  background: #553ab8;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.list {
  list-style: none;
}

.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #e31d65;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.subscribe {
  background: #ffcb36;
  padding: 2rem;
  margin: 0;
  border-radius: 3%;
  justify-content: center;
  grid-column: 1/3;
  font-size: 45px;
  text-align: center;
  cursor: pointer;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}

h1,
h2 {
  margin-bottom: 10px;
}

footer {
  margin-top: auto;
  height: 8rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screenhiden,
.screenhiden2,
.screenhiden3,
.screenhiden4,
.screenhiden5 {
  display: none;
}

a {
  color: white;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  img {
    height: 100px;
  }
  header {
    padding: 0;
    width: 100%;
  }
  .hlist {
    font-size: 20px;
    gap: 1rem;
    justify-content: space-between;
  }

  .who,
  .why,
  .benefits,
  .howitwork,
  .partner,
  .subscribe {
    font-size: 20px;
  }
}
